.App {
  text-align: center;
  background-color: black;
  height: 100vh;
}

.App-header{
  text-align: center;
  background-color: black;
  height: 100vh;
}

.centrar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  width: 100vw;
  color: whitesmoke;
  background-color: black;
}

.img-foto{
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
}

label{
  color: white;
  font-size: 40px;
}

.skills{
  height: 300px;
}

.skills > div:nth-child(1){
  min-height: 100%;
  background-color: rgba(24,24,24,255);
}
.skills > div:nth-child(2){
  min-height: 100%;
  background: -webkit-linear-gradient(70deg, #640405 30%, #d20a0c 90%);
}

.skill-box{
  height: 200px;
  max-width: 100px;
  background-color: #998989;
  padding: 10px;
  margin: 20px;
}

.projects{
  height: 300px;
  background-color: black;

}
